<footer id="mainFooter" class="py-3">
  <div class="f-info text-center">
    <div class="f-info-socials mb-2">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; Yatra Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy" class="mx-2">Privacy</a>
      <a href="/terms" class="mx-2">Terms</a>
    </div>
  </div>
</footer>
